<button (click)="connection()"> Connection </button>
<p>
  {{ address }}
</p>

<p *ngIf="isSyncing">
  I'm waiting for 3Box to give me your profile...
</p>

<article *ngIf="!!box">
  <input #nicknameEl placeholder="nickname"/>
  <button (click)="addNickname(nicknameEl.value)">Add to the box</button>

  <p>{{ nickname }}</p>
  <button (click)="showNickname()">Show nickname from 3Box</button>
</article>

<article>
  <input #addressProfile placeholder="Address" />
  <button (click)="getProfileFrom(addressProfile.value)">Show Profile from</button>
  <p>
    {{ profileName }}
  </p>
</article>
